.app {
  position: relative;
  height: 100%;
  width: 100%;

  & > canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .overlay {
    position: relative;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    padding: 1rem;

    .playersList {
      flex: 0 0 auto;

      color: white;
      border: 1px solid white;
      padding: 0.5rem;
    }
  }
}
